.header__user-info {
  display: flex;
  gap: 24px;
  font-size: 18px;
  line-height: 122%;
  grid-area: user;
}

@media screen and (max-width: 767px) {
  .header__user-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 142px;
    gap: 18px;
    margin-right: 26px;
    position: absolute;
    top: -142px;
    box-shadow: 0 -1px 0 0 rgb(84 84 84 / 70%) inset;
  }
}