.preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  background-image: url("../../assets/images/load.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}