.header__burger-line_active {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}
.header__burger-line_active:before {
  transition: top .25s, transform .25s .25s;
  top: 0;
  transform: rotateZ(-45deg);
}
.header__burger-line_active:after {
  transition: top 0.4s, transform .25s .25s;
  top: 0;
  transform: rotateZ(45deg);
}